.main_image {
  background-image: url('assets/img/test.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.text-content h1 {
  font-size: 3rem;
}
.text-content h2 {
  font-size: 2rem;
}
.text-content p {
  font-size: 1.5rem;
}
.text-content h3 {
  font-size: 2rem;
}
